@page "/"
@inject NavigationManager NavigationManager 

<h1>Yinz Here?</h1>

<button class="btn btn-primary" @onclick="ReadyCheck">Start a new Ready-Check</button>

@code {
    private void ReadyCheck()
    {
        NavigationManager.NavigateTo("readycheck");
    }
}
