@page "/"
@inject NavigationManager NavigationManager

<h1>Yinz Here?</h1>

@code { 
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        NavigationManager.NavigateTo("readycheck");
    }
}
