@page "/"
@inject NavigationManager NavigationManager 

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="ReadyCheck">Ready-Check</button>

@code {
    private void ReadyCheck()
    {
        NavigationManager.NavigateTo("readycheck");
    }
}
