@inherits ReadyCheckBase
@page "/readycheck/{key?}"
@using YinzHere.Models
@using Services
@inject NavigationManager NavigationManager
@inject IReadyCheckService ReadyCheckService
@inject IJSRuntime JSRuntime
@inject ClipboardService ClipboardService

<h1>Yinz Here?</h1>
@if (Key != null)
{
    <span>Room ID: <strong>@Key</strong></span>
    <button class="btn btn-secondary" @onclick="CopyUrl">Click to copy URL</button>
}
<hr />
@if (Key == null)
{
    <button class="btn btn-primary" @onclick="NewReadyCheck">Ready-Check</button>
}
else
{
    <input type="text" placeholder="Enter your name here" @bind="nameToAdd" />
    <button class="btn btn-primary" @onclick="AddName">Add your name</button>

    <h4>Users Ready:</h4>
    <ul>
        @foreach (var user in CurrentReadyCheck.UsersReady)
        {
            <li>@user</li>
        }
    </ul>

}
